.underPic {
    background-color: rgb(40, 47, 56); 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.underPic li {
    display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.authorVotes{
  background-color: rgb(40, 47, 56); 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.authorVotes p {
  display: inline-block;
  font-size: 15px;
  padding: 5px;
}